.app-background {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.7s ease, color 0.5s;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .app-background {
    background-position: top;
    padding: 0 0.5rem;
  }
} 